body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    max-width: 800px; /* Adjust this value to decrease the width */
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}

p, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    margin-bottom: 20px;
}

.contact-info i, .contact-info a {
    margin-right: 5px;
}

.contact-info a:hover {
    text-decoration: underline;
}

.work-item, .project-item, .education-item {
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}
